/* styles.css */

/* Cor de fundo e texto */
body {
    font-size: 0.95rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 20px;  /* Pequeno padding nas laterais */
    justify-content: flex-start;
  }
  
  /* Container centralizado */
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px; /* Tamanho máximo de largura igual ao dos cards */
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }
  
  /* Sidebar */
  .sidebar {
    width: 25%; /* Aumentei a largura da sidebar para melhor balanceamento */
    padding: 20px;
    background-color: none;
    color: #ccd6f6;
    border-right: 2px solid #112240;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 1rem; /* de 3rem para 1rem */
  }

  .social-icons {
    margin-bottom: 3rem;  /* cria um pequeno espaço abaixo para não encostar na borda */
  }
  
  .sidebar h1, .sidebar h2, .sidebar p {
    text-align: center; /* Centraliza nome, cargo e frase */
  }
  
  .sidebar h1 {
    font-size: 3rem; /* Maior para destaque */
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #ccd6f6;
  }
  
  .sidebar p {
    font-size: 1.1rem;
    color: #8892b0;
  }
  
  /* Navegação da sidebar */
  .sidebar nav a {
    color: #ccd6f6;
    font-size: 0.9rem; /* Ajustado */
    font-weight: 600;
    display: block;
    margin: 8px 0;
    padding: 8px;
    transition: color 0.3s ease;
  }
  
  .sidebar nav a:hover {
    color: #1b98e0;
  }
  
  /* Ícones sociais */
  .social-icons a {
    color: #ccd6f6;
    font-size: 1.2rem; /* Menor para elegância */
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #1b98e0;
  }
  
  /* Conteúdo principal */
  .content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Main content */
  main.content {
    width: 40%; /* Diminuí para não ficar tão largo */
    padding: 20px;
    padding-top: 3rem;    /* mesmo padding-top da sidebar */
    padding-bottom: 1rem; /* mesmo padding-bottom da sidebar */
    background-color: none;
    color: #ccd6f6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
  }

  main.content p,
#sobre p,
.job-desc,
.card p {
  text-align: justify;
}
  
  
  /* Seção Sobre */
  #sobre p {
    line-height: 1.7;
  }
  
  #sobre h1 {
    font-size: 1.8rem; /* Ajustado */
    font-weight: 700;
    color: #ffffff;
  }
  
  /* Destaque de keywords */
  .highlight {
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .highlight:hover {
    color: #1b98e0;
  }
  
  
  /* Cards */
  .card {
    background-color: none;
    padding: 1rem;          /* Menos padding para deixar mais compacto */
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    max-width: 600px;       /* Limita a largura do card */
    margin: 1rem;           /* Adiciona margem entre os cards */
    padding: 20px;
  }
  
  .card h2 {
    color: #ffffff;
    font-size: 1.25rem;     /* Reduzindo o título */
    font-weight: 600;
    margin-bottom: 1rem;    /* Menos margem entre título e conteúdo */
  }
  
  .card h3 {
    color: #ffffff;
    font-size: 1rem;        /* Ajustado para ficar mais compacto */
    font-weight: 600;
    margin-bottom: 0.5rem;  /* Menos margem */
  }
  
  .card p {
    color: #ccd6f6;
    font-size: 0.9rem;      /* Texto mais compacto */
    margin-bottom: 1rem;
  }
  
  .card a {
    color: #1b98e0;
    font-weight: 600;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease;
  }
  
  .card a:hover {
    color: #ffffff;
  }
  
  .card i {
    margin-right: 0.5rem;
    font-size: 1rem;        /* Ícone um pouco menor */
  }
  
  /* Footer */
  footer {
    background-color: #112240;
    color: #ccd6f6;
    padding: 2rem 0;
    text-align: center;
    font-size: 0.875rem; /* Ajustado */
  }
  
  #tsparticles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Fica atrás de tudo */
    background-color: #0a192f; /* Mantém o seu fundo bonito */
}

  